.login-wrap{
    /* border-width: 5%;
   display: inline-block;
   border-radius: 50px ;
   box-shadow: 10px 15px 15px 20px wheat; */
   width:75%;
   height: 75%;
    color :blue; 
   background:10px 15px 15px 20px ;
   margin-left: 0%;
   margin-top: 25%;
    padding : 5%; 
    text-align:justify; 
  /* / margin: 200px; */ 
 }
 .cote{
   background:url( https://teteamodeler.ouest-france.fr/media/cache/thumb_800/nourriture-explication-tte-modeler-du-mot-nourriture.png);
 }