
    <div class="cote">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="login-wrap">
                        <img src="assets/img/logo.png" alt="image"/>
                        <h2> Se connecter</h2>
                   
                        <form #f="ngForm" novalidate>
                         <div class="control-group">
                             <div class="input-group">
                                     <input  [(ngModel)]="users.email"  name="email" #email="ngModel" type="email" class="form-control" placeholder="Email" required="required" />
                                         <div class="input-group-append">
        
                                         </div>
                                     </div>
                             </div><br>
                                     
                             <div class="control-group">
                                 <div class="input-group">
                                     <input type="password" [(ngModel)]="users.password" class="form-control" name="password" #password="ngModel" placeholder="Password" required="required" />
                                     <div class="input-group-append">
                        
                                        
                             </div>
                          </div><br>
                                 </div> 
                                     <div>
                                         <button (click) = "redirection()" class="btn btn-primary" type="submit">Se connecter</button>
                                     </div><br>
                                 <div>
                             <button class="btn btn-primary"type="submit">S'inscrire</button>
                         </div>
                     </form>  
                 
                            
                    
                     </div>
                </div>
                <div class="col-6">
                   
                </div>
            </div>
        </div>
       </div>
    
      






