
<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand">E- <span>Kaly</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="index.html" class="nav-item nav-link active">Accueil</a>
                <a href="about.html" class="nav-item nav-link">Commandez</a>
                <a href="feature.html" class="nav-item nav-link">Recette</a>
                <a href="team.html" class="nav-item nav-link">A propos de nous</a>
                
                <a href="menu.html" class="nav-item nav-link">Contactez E-kaly</a>
                <div *ngIf="token!=null"> 
                    <button class="btn btn-info" routerLink="login" type="button"><mat-icon>account_circle</mat-icon> {{nom}} </button>
                    <button class="btn btn-success" (click)="logOut()" routerLink="login" type="button">Deconnection <mat-icon>logout</mat-icon> </button>
                </div>
                <div *ngIf="token==null"> 
                    <button class="btn btn-info" routerLink="login" type="button">Se connecter </button>
                    <button class="btn btn-success"  routerLink="inscription" type="button">S'inscrite  </button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Nav Bar End -->
  
  
  <!-- Carousel Start -->
  <div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-spinner style="top:50% ; left:50%"></mat-spinner>
  </div>

  <div class="carousel">
  
                <div class="carousel-text">
                    <h1>Commander <span> sur E</span>-Kaly</h1>
                    <p>
                        Decouvrer les divers cultures culinaires sur e-kaly et faite vous livrez rapidement 
                    </p>
                    <div class="footer-newsletter">
                    
                    </div>
              
            </div>
              
                <div class="carousel-img">
                    <img src="../assets/img/carousel-3.jpg" alt="Image">
                </div>
          
  </div>
  <!-- Carousel End -->
