


    <p>Liste Restaurant</p>
  <div>
    <div class="container">
        <div class="table-responsive">
          <table class="basic-table table-headers table table-hover">
            <thead>
              <tr>
                <th> nom</th>
                <th>email</th>
                <th>lieu</th> 
              </tr>
              <tr style="height: 1rem; border: none; box-shadow: none;"></tr>
            </thead>
            <tbody>
                <tr  *ngFor="let listes of liste">
                <td>{{listes.nom}}</td>
                <td>{{listes.email}}</td>
                <td>{{listes.localisation}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
